{% extends 'fileSelect/base.html'%}
{% block content %}
{% load my_tags %}
    <h1>{{fileName}}</h1>
    <table class = "table table-striped table-dark">
        {% for line in file %}
            {% with forloop.counter0 as ourCount %}
                <!-- Ok 'my_tags' is not a registered tag library. Must be one of: admin_list admin_modify admin_urls cache i18n l10n log static tz
              shoot lemme google it--> 
                {% if lineStatus|get_by_index:ourCount %}
                    <tr class = "bg-danger"><td>{{ourCount}}</td><td>{{ line }}</td></tr>
                {% else %}
                    <tr class = "table-default"><td>{{ourCount}}</td><td>{{ line }}</td></tr>
                {% endif %}
            {% endwith %}
        {% endfor %}
        
</table>
    
    <form action = "fileDisplay.html">
        {% csrf_token %}
        <input type = "submit" value = "Return">
    </form>
{% endblock content%}
