{% extends 'fileSelect/base.html'%} {% block content %}
<!--{% for file in fileLocations%}
        <h1>{{ file.other }}</h1>
        <p>File location: {{ file.filelocation }}</p>
    {% endfor %}-->
<div>
  <div style="text-align: center;">
    <img class="logoMain" src="../../static/fileSelect/logo.png" alt="Wits logo" />
  </div>
  <h1>Welcome to <div class = "page-name">Code_Snitch</div></h1>
  <div class="row">
    <div class="col-sm-auto">
      <h2>
        Press <div class = "look-like-button-23"> Start Analysis </div>at the top left of the screen at anytime to start a new
        analysis
      </h2>
    </div>
    <div class="col-sm-auto">
      <img class="arrow" src="../../static/fileSelect/Arrow.png" alt="Direction Arrow" />
    </div>
  </div>
</div>

{% endblock content%}