{% extends 'fileSelect/base.html'%} {% block content %}
<!--{% for file in fileLocations%}
        <h1>{{ file.other }}</h1>
        <p>File location: {{ file.filelocation }}</p>
    {% endfor %}-->
<div>
  <h1>Welcome to Code_Snitch</h1>
  <div class="row">
    <div class="col">
      <img
        class="arrow"
        src="../../static/fileSelect/Arrow.png"
        alt="Direction Arrow"
      />
    </div>
    <div class="col">
      <h2>
        Press the menu at the top left of the screen at anytime to start a new
        analysis
      </h2>
    </div>
  </div>
</div>

{% endblock content%}
