{% extends 'fileSelect/base.html'%}
{% block content%}
<div class="row">
    <div class = "column-sm-3" style= "padding-right: 1rem;">
        <h1>Information</h1>
        <h2>Developed by: </h2>
        <h3>
        <p>Ivan von Staden</p>
        <p>&#38;</p>
        <p>Hyla Fourie</p>
        </h3>
        <h2> Information on how Code_Snitch works</h2>
        <ul>
            <li>
                <h3>For a quick and easy tutorial on how to use Code_Snitch, watch the video below</h3>
            </li>
            <li>
                <h3>This is a tool for detecting code smells and is meant to assist you in identifying code that could be problematic if you decide to develop your C++ program further. CODE_SNITCH IS NOT FOR ASSESSING IF YOUR PROGRAM WORKS OR NOT :D</h3>
            </li>
            <li>
                <h3>Beware the DRY tool. It is full of jedi mindtricks...</h3>
            </li>
        </ul>
    </div>
    <div class="column-sm-6">
            <h3>Tutorial Video</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UBr4rn1tjqs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
{% endblock content%}