<div>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='walls.h' name='key' formaction='displayCode/'>walls</button></form></li>
</div><div>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Splash.h' name='key' formaction='displayCode/'>Splash</button></form></li>
</div><div>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='MovingObject.h' name='key' formaction='displayCode/'>MovingObject</button></form></li>

<ul>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='data.h' name='key' formaction='displayCode/'>data</button></form></li>
<ul>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='door.h'name='key' formaction='displayCode/'>door</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='wall.h'name='key' formaction='displayCode/'>wall</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Ghost.h'name='key' formaction='displayCode/'>Ghost</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Player.h'name='key' formaction='displayCode/'>Player</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Key.h'name='key' formaction='displayCode/'>Key</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Fruit.h'name='key' formaction='displayCode/'>Fruit</button></form></li>

</li></ul></ul>
</div><div><li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Keys.h' name='key' formaction='displayCode/'>Keys</button></form></li>
</div>
<div><li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='GameManager.h' name='key' formaction='displayCode/'>GameManager</button></form></li>
</div>
<div><li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='fruits.h' name='key' formaction='displayCode/'>fruits</button></form></li>
</div>
<div><li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Drawer.h' name='key' formaction='displayCode/'>Drawer</button></form></li>
</div>
<div><li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Doors.h' name='key' formaction='displayCode/'>Doors</button></form></li>
</div>
<div><li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='data.h' name='key' formaction='displayCode/'>data</button></form></li>
</div>

<ul>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='door.h'name='key' formaction='displayCode/'>door</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='wall.h'name='key' formaction='displayCode/'>wall</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Ghost.h'name='key' formaction='displayCode/'>Ghost</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Player.h'name='key' formaction='displayCode/'>Player</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Key.h'name='key' formaction='displayCode/'>Key</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Fruit.h'name='key' formaction='displayCode/'>Fruit</button></form></li>
</ul>
</div><div><li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='CollisionManager.h' name='key' formaction='displayCode/'>CollisionManager</button></form></li>
</div>
<div><li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='accessTools.h' name='key' formaction='displayCode/'>accessTools</button></form></li>
</div>

<ul>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='MovingObject.h'name='key' formaction='displayCode/'>MovingObject</button></form></li>

<ul>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='data.h'name='key' formaction='displayCode/'>data</button></form></li>

<ul>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='door.h'name='key' formaction='displayCode/'>door</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='wall.h'name='key' formaction='displayCode/'>wall</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Ghost.h'name='key' formaction='displayCode/'>Ghost</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Player.h'name='key' formaction='displayCode/'>Player</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Key.h'name='key' formaction='displayCode/'>Key</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Fruit.h'name='key' formaction='displayCode/'>Fruit</button></form></li>

</li></ul>
</li></ul><li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='data.h'name='key' formaction='displayCode/'>data</button></form></li>

<ul>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='door.h'name='key' formaction='displayCode/'>door</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='wall.h'name='key' formaction='displayCode/'>wall</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Ghost.h'name='key' formaction='displayCode/'>Ghost</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Player.h'name='key' formaction='displayCode/'>Player</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Key.h'name='key' formaction='displayCode/'>Key</button></form></li>
<li><form method='post'>
{% csrf_token %}<input type='hidden' name='issue' value='implementation' /><button id='buttonList' type='submit' value='Fruit.h'name='key' formaction='displayCode/'>Fruit</button></form></li>

</li></ul></ul>
</div>
</li></ul>