<pre class="mermaid"><code>
classDiagram
EventEmitter&lt;--IDrawable
EventEmitter&lt;--AudioPlayer
AudioPlayer&lt;--SoundEffectPlayer
AudioPlayer&lt;--MusicPlayer
NonCopyable&lt;--ResourceHolder
NonCopyable&lt;--Window
IDrawable&lt;--UIElement
IDrawable&lt;--Tile
IDrawable&lt;--Sprite
IDrawable&lt;--Panel
Sprite&lt;--AnimatableSprite
UIElement&lt;--ClickableUIElement
UIElement&lt;--TextBlock
ClickableUIElement&lt;--Button
Panel&lt;--StackPanel
Engine&lt;--SuperPacMan
IEntityAnimator&lt;--GhostAnimator
IEntityAnimator&lt;--PacManAnimator
IEntityAnimator&lt;--PelletAnimator
Entity&lt;--Door
Entity&lt;--Wall
Entity&lt;--IEatable
Entity&lt;--Key
Entity&lt;--Movable
IEatable&lt;--Fruit
IEatable&lt;--Pellet
Movable&lt;--Ghost
Movable&lt;--PacMan
State&lt;--GameOverState
State&lt;--PlayingState
State&lt;--MainMenuState
</code></pre>