<pre class="mermaid"><code>
classDiagram
ref_from_this<Application>&lt;--Application
enable_shared_from_this<T>&lt;--ref_from_this
Transformable&lt;--Entity
ref_from_this<Entity>&lt;--Entity
ref_from_this<Scene>&lt;--Scene
Scene&lt;--Game
Scene&lt;--MainMenu
Scene&lt;--DefaultScene
Scene&lt;--EndScreen
Entity&lt;--Text
Entity&lt;--DrawableEntity
Entity&lt;--UI
Entity&lt;--Map
Drawable&lt;--Text
Drawable&lt;--DrawableEntity
DrawableEntity&lt;--Movable
DrawableEntity&lt;--Obstacle
DrawableEntity&lt;--Image
DrawableEntity&lt;--Points
Movable&lt;--Player
Movable&lt;--Ghost
Ghost&lt;--RedGhost
Ghost&lt;--GreenGhost
Ghost&lt;--BlueGhost
Ghost&lt;--OrangeGhost
Grid&lt;--Map
Obstacle&lt;--SpawnBlock
Obstacle&lt;--Door
Obstacle&lt;--Wall
Points&lt;--PowerPill
Points&lt;--Fruit
Points&lt;--Key
Points&lt;--SuperPowerPill
Points&lt;--Star
</code></pre>